header {
    position: sticky;
}

.inicio {
    display: flex;
    background: transparent;
    justify-content: flex-end;
    align-items: center;
}

.titulo {
    margin-right: auto;
    margin-left: 50px;
}

.titulo h1 {
    font-size: 55px;
}

.titulo p {
    font-size: 20px;
}


/* Seção 1 - O que é o violino? */

.sobre_violino {
    display: flex;
    background: transparent;
    justify-content: space-between  ;
    align-items: flex-start;
    height: 600px;
}

.sobre_violino h1 {
    font-size: 40px;
}

.sobre_violino span {
    font-size: 20px;
}

.sv_conteudo {
    margin: 100px 60px 0 100px;
}

.sobre_violino img {
    margin: 70px 0 0 70px;
    border-radius: 22px;
}

/* Fim da seção 1 */


/* Seção 2 - Por que aprender violino? */

.aprender_violino {
    display: flex;
    background: transparent;
    flex-direction: column  ;
    justify-content: flex-start;
    align-items: center;
    height: 600px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.av_conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.aprender_violino h1 {
    font-size: 40px;
}

.aprender_violino span {
    font-size: 20px;
}

.beneficio {
    display: flex;
    flex-direction: column;
}

.beneficio1, .beneficio2, .beneficio3, .beneficio4 {
    display: flex;  
    align-items: center;
    color: #2f913f;
    font-size: 20px;
}

.beneficio img {
    width: 30px;    
    height: 30px;   
}

.desafio_aprender {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Fim da seção 2 */



/* Seção 3 - Sobre mim */

.sobre_mim {
    display: flex;
    background: transparent;
    justify-content: space-between;
    align-items: flex-start;
    height: 550px;
}

.sobre_mim h1 {
    font-size: 40px;
}

.sobre_mim span {
    font-size: 18px;
}

.sm_conteudo {
    margin-left: 70px;
}

.sobre_mim img {
    height: 450px;
    border-radius: 18px;
    margin-right: 70px;
}

/* Fim da seção 3 */


/* Seção 4 - Propostas do projeto */

.proposta_projeto {
    display: flex;
    background: transparent;
    justify-content: center;
    align-items: flex-start;
    height: 600px;
}

.proposta_projeto h1 {
    font-size: 40px;
}

.pp_conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_proposta {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 130vh;
}

.proposta1 {
    background-image: url(1.png);
    background-size: cover;
}   

.proposta2 {
    background-image: url(2.png);
    background-size: cover;
}
.proposta3 {
    background-image: url(3.png);
    background-size: cover;
}

.proposta1, .proposta2, .proposta3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: black;
    color: #f9f3ed;
    width: 300px;
    height: 420px;
    border-radius: 12px;
}

.proposta1 h1, .proposta2 h1, .proposta3 h1 {
    font-size: 30px;
    margin: 0 0 20px 10px;
    color: #bb944b;
/* color: #f9f3ed; */
}

.proposta1 span, .proposta2 span, .proposta3 span {
    margin: 0 0 70px 10px;
}

/* Fim da seção 4 */


/* Seção 5 - Perguntas */

.pergunta_footer {
    display: flex;
    background: transparent;
    justify-content: flex-start;
    align-items: flex-start;
    height: 500px;
}

.pf_conteudo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 50px 0 0 100px;
}

.pergunta_footer h1 {
    font-size: 40px;
}

.container_pergunta {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.pergunta1, .pergunta2, .pergunta3 {
    font-size: 30px;
    margin-top: 20px;
}

/* Footer */

footer {
    display: flex;
    height: 200px;
    align-items: center;
    justify-content: space-around;
    background-color: #25090a;
    color: white;
}

.rede_social {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.icones_social img {
    margin-top: 7px;
}


















