header {
    position: sticky;
}

img:hover {
    transform: scale(1.05);
}   

.fade-in {
    opacity: 0;
    transform: translate(20px);
    animation: fadeInUp 0.8s forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.inicio {
    display: flex;
    background: transparent;
    justify-content: flex-end;
    align-items: center;
}

.titulo {
    margin-right: auto;
    margin-left: 50px;
}

.titulo h1 {
    font-size: 55px;
}

.titulo p {
    font-size: 20px;
}

/* Seção 1 - O que é o violino? */

.sobre_violino {
    display: flex;
    background: transparent;
    justify-content: space-between;
    align-items: flex-start;
    height: 600px;
}

.sobre_violino h1 {
    margin-left: 2%;
    font-size: 40px;
}

.sobre_violino span {
    font-size: 20px;
}

.sv_conteudo {
    margin: 100px 60px 0 80px;
    width: 700px;
}

.sv_conteudo p {
    font-size: 20px;
    text-align: justify;
}

.sobre_violino img {
    margin: 70px 0 0 70px;
    border-radius: 22px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

/* Fim da seção 1 */


/* Seção 2 - Por que aprender violino? */

.aprender_violino {
    display: flex;
    background: transparent;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 600px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.av_conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.aprender_violino h1 {
    font-size: 40px;
}

.aprender_violino span {
    font-size: 20px;
}

.beneficio {
    display: flex;
    flex-direction: column;
}

.beneficio1,
.beneficio2,
.beneficio3,
.beneficio4 {
    display: flex;
    align-items: center;
    color: #2f913f;
    font-size: 20px;
}

.beneficio img {
    width: 30px;
    height: 30px;
}

.desafio_aprender {

    width: 1000px;
    text-align: center;
    margin-top: 20px;
}


/* Fim da seção 2 */



/* Seção 3 - Sobre mim */

.sobre_mim {
    display: flex;
    background: transparent;
    justify-content: space-between;
    align-items: flex-start;
    height: 550px;
}

.sobre_mim h1 {
    font-size: 40px;
    margin-left: 2%;
}

.sobre_mim .textoSobreMim {
    font-size: 18px;
    text-align: justify;
}

.sm_conteudo {
    display: flex;
    width: 650px;
    flex-direction: column;
    margin-left: 70px;
    text-align: justify;
}

.sobre_mim img {
    height: 450px;
    border-radius: 18px;
    margin-right: 70px;
    box-shadow: 3px 8px rgba(0, 0, 0, 0.5);
}

.sm_conteudo p {
    font-size: 18px;
}

.p {
    margin-left: 2%;
}

/* Fim da seção 3 - Sobre mim */


/* Seção 4 - Propostas do projeto */

.proposta_projeto {
    display: flex;
    background: transparent;
    justify-content: center;
    align-items: flex-start;
    height: 600px;
}

.proposta_projeto h1 {
    font-size: 40px;
    margin-right: 720px;
}

.pp_conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_proposta {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 130vh;
}

.proposta1 {
    background-image: url(1.png);
    background-size: cover;
}

.proposta2 {
    background-image: url(2.png);
    background-size: cover;
}

.proposta3 {
    background-image: url(3.png);
    background-size: cover;
}

.proposta1,
.proposta2,
.proposta3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: black;
    color: #f9f3ed;
    width: 300px;
    height: 420px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.9);
}

.proposta1 h1,
.proposta2 h1,
.proposta3 h1 {
    font-size: 30px;
    margin: 0 0 20px 10px;
    color: #bb944b;
    /* color: #f9f3ed; */
}

.proposta1 span,
.proposta2 span,
.proposta3 span {
    margin: 0 0 70px 10px;
}

/* Fim da seção 4 */


/* Seção 5 - ODS */

.ods {
    display: flex;
    flex-direction: column;
    background: transparent;
    justify-content: flex-start;
    align-items: center;
    height: 600px;
    width: 100%;
    margin: 20px 0 20px 0;
}

.ods_conteudo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 70px;
    width: 92vw;
}

.ods h1 {
    font-size: 40px;
}

.ods_conteudo img {
    height: 300px;
    border-radius: 12px;
}

.ods3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ods4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.ods3 span,
.ods4 span {
    font-size: 20px;
    margin-bottom: 10px;
}

/* Fim da ods */

/* Entre em contato */

.contato {
    display: flex;
    flex-direction: row;
    background: transparent;
    justify-content: center;
    align-items: flex-start;
    height: 500px;
    width: 100%;
    margin: 0px 0 20px 0;
}

.formulario_contato {
    display: flex;
    flex-direction: column;
}

.formulario_contato h1 {
    font-size: 40px;
    margin-top: 0;
}

.cttNome,
.cttEmail {
    background: transparent;
    width: 400px;
    height: 40px;
    margin-bottom: 15px;
}

.cttTexto {
    background: transparent;
    width: 400px;
    height: 200px;
    margin-bottom: 15px;
}

.botaoEnviar {
    width: 200px;
    height: 35px;
    background-color: #4f0f11;
}

/* Footer */

footer {
    display: flex;
    height: 200px;
    align-items: center;
    justify-content: space-around;
    background-color: #25090a;
    color: white;
}

.rede_social {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.icones_social img {
    margin-top: 7px;
}