* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #f9f3ed;
}

/* Sidebar */

.sidebar {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 220px;
    height: 100%;
    padding-left: 10px;
    background-color: #4f0f11;
}

.sidebar_header {
    width: 100%;
    margin-bottom: 15px;
}

header p {
    font-size: 24px;
    color: #f9f3ed;
    padding-left: 6px;
}

.sidebar button {
    height: 60px;
    width: 100%;
    background: transparent;
    border: 0;
    color: #f9f3ed;
    font-size: 18px;
    text-align: left;
    padding: 0;
    margin-bottom: 20px;
}

.sidebar button:hover {
    cursor: pointer;
    color: #bb944b;
    border: 1px solid #bb944b;
}

.sidebar button img {
    width: 40px;
}

.sidebar button > span {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    height: 48px;
}

.sidebar i {
    width: 70px;
    height: 70px;
    margin-top: auto;
}

.sidebar .logotipo {
    width: 70px;
    height: 70px;
    margin-top: auto;
}

/* Fim da sidebar */

/* Dashboard */

.dashboard {
    margin: 60px 0 0 280px;
    display: none;
    flex-direction: column;
}

.kpis {
    display: flex;
}

.kpis .kpi1, .kpi2, .kpi3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 200px;
    height: 200px;
    background-color: #e9e9e9;
    margin-right: 60px;
}

.kpis p {
    font-size: 20px;
}

.kpis span {
    font-size: 50px;
    margin-top: 20px;
    color: #6a2318;
}

.kpi4 span {
    font-size: 40px;
}

#span_dtFinal {
    margin-top: 25px;
    font-size: 17px;
}

.kpis .kpi4 {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 350px;
    height: 200px;
    background-color: #e9e9e9;
}

.graficos {
    display: flex;
    margin-top: 100px;
}

.graficos .grafico1 {
    width: 550px;
    height: 400px;
    background-color: #e9e9e9;
    margin-right: 30px;
}

.graficos .grafico2 {
    width: 550px;
    height: 400px;
    background-color: #e9e9e9;
}

/* Fim da Dashboard */

/* Estudo*/

.estudo {
    margin: 120px 0 0 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container_estudo {
    width: 500px;
    height: 580px;
    background-color: #e9e9e9;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    color: black;
}

.container_estudo h1 {
    margin-top: 50px;
    margin-bottom: 0;
}

.container_estudo input, select {
    width: 80%;
    height: 10%;
    background: transparent;
    border: 1px solid black;
}

.dtEstudo, .tempoEstudo, .dificuldade  {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    font-size: 17px;
}

.dtEstudo input {
    width: 400px;
    height: 55px;
    margin-top: 7px;
    color: black;
}

.tempoEstudo input {
    width: 400px;
    height: 55px;
    margin-top: 7px;
    color: black;
}

.dificuldade select {
    width: 400px;
    height: 55px;
    margin-top: 7px;
}

.container_estudo button {
    width: 40%;
    height: 7%;
    background-color: #4f0f11;
    border: 0;
    margin-top: 20px;
    color: #f9f3ed;
    font-size: 17px;
}

.erroCampo {
    margin-top: 20px;
    opacity: 0;
    color: red; 
}

.estudo span {
    margin-left: 50px;
    margin-top: 60px;
}

/* Fim do Estudo */

/* Metas */

.meta {
    margin-left: 150px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container_historico .tabela {
    width: 1100px;
    height: 300px;
    background-color: #e9e9e9;
}

.container_historico h1 {
    margin-bottom: 0;
}

.nova_meta {
    align-self: flex-start;
    margin: 120px 0 0 115px;
    display: flex;
    flex-direction: column;
}

.formulario_novaMeta {
    display: flex;
    flex-direction: row ;
    font-size: 17px;
}

.formulario_novaMeta input {
    width: 300px;
    height: 40px;
    margin-right: 40px;
    background: transparent;
    border: 1px solid black;
}

.nova_meta button {
    width: 150px;
    height: 35px;
    margin: 40px 0 0 418px;
    background-color: #4f0f11;
    border: 0;
    border-radius: 2px;
    color: #f9f3ed;
    font-size: 17px;
}

.nova_meta .metaRegistrada {
    color: green;
    margin: 10px 0 0 430px;
    font-size: 20px;
    opacity: 0;

}

.erroMeta {
    color: red;
    font-size: 20px;
    margin: 0 0 0 390px;
    display: none;
}

.nova_meta label {
    display: flex;
    flex-direction: column;
}

/* Fim da Meta */


/* Configurações */

.configuracao {
    margin-left: 150px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.topo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topo h1 {
    margin-left: 100px;
}

.topo img {
    width: 150px;
    margin-top: 21px;
    margin-right: 21px;
}

.configuracao label {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-top: 50px;
}

.configuracao input {
    width: 1000px;
    height:40px;
    background: transparent;
    border: 1px solid black;
    font-size: 17px;
    margin-top: 5px;
}

.configuracao select {
    width: 1000px;
    height:40px;
    background: transparent;
    border: 1px solid black;
    font-size: 17px;
    margin-top: 5px;
}

