  main {
    display: flex;
    background-color: bl;
    justify-content: center;
    align-items: center;
    height: 765px;
}

main button {
    background-color: #4f0f11;
    width: 16vh;
    height: 4vh;
    border: none;
    margin-bottom: 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 25px;
}

main h1 {
    font-size: 44px;
}

main a {
    color: #4f0f11;
    text-decoration: underline;
}   

.container_cadastro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 12px;
    background: linear-gradient(135deg, #f5f5f5, #e4d9cc);
    width: 470px;
    height: 400px;
}

.cadastro_formulario {
    justify-content: flex-end;
}

.cadastro_formulario input  {
    width: 200px;
    height: 30px;
    background: transparent;
    border: 1px solid black;
    border-radius: 7px;
}

::placeholder {
    color: black;
}

.cadastro_formulario #input_nome, #input_email, #input_senha {
    margin: 20px 25px 0 0;
}

.cadastro_formulario select {
    width: 206px;
    height: 35px;
    background: transparent;
    border: 1px solid black;
    border-radius: 7px;
}

.erro_validacao {
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    color: rgb(196, 8, 8);;
}

.erro_campo {
    font-size: 14px;
    color: rgb(196, 8, 8);;
    margin-top: 10px;
}

main li {
    color: black;
    list-style: none;
}

