main {
    display: flex;
    background: linear-gradient(135deg, #f5f5f5, #e4d9cc);
    justify-content: flex-end;
    align-items: center;
}

.titulo {
    margin-right: auto;
    margin-left: 100px;
}

h1 {
    font-size: 55px;
}

p {
    font-size: 20px;
}