

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #f9f3ed;
}

.logotipo {
    width: 110px; 
    height: 110px; 
    margin-right: auto;
    margin-top: 20px;
}

li, a, button {
    font-size: 18px;
    color: #f9f3ed;
    text-decoration: none;
}

button {
    padding: 10px 20px;
    background-color: black;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin-left: 15px;
}

button:hover {
    background-color: #1d1c1c;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 15px 0 15px;
    background-color: #4f0f11;
    height: 70px;
}

.navbar-links {
    list-style: none;
}

.navbar-links li {
    display: inline-block;
    padding: 0px 20px;
}

.navbar-links li a:hover {
    color: #bb944a;
}

@media (max-width: 800px) {
    li, a, button {
        font-size: 12px;
    }

    .logotipo {
        width: 80px; 
            height: 80px; 
    }
}