* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #f9f3ed;
}

/* Sidebar */

.sidebar {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 220px;
    height: 100%;
    padding-left: 10px;
    background-color: #4f0f11;
}

.sidebar_header {
    width: 100%;
    margin-bottom: 15px;
}

header p {
    font-size: 24px;
    color: #f9f3ed;
    padding-left: 6px;
}

.sidebar button {
    height: 60px;
    width: 100%;
    background: transparent;
    border: 0;
    color: #f9f3ed;
    font-size: 18px;
    text-align: left;
    padding: 0;
    margin-bottom: 20px;
}

.sidebar button:hover {
    cursor: pointer;
    color: #bb944b;
    border: 1px solid #bb944b;
}

.sidebar button img {
    width: 40px;
}

.sidebar button > span {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    height: 48px;
}

.sidebar i {
    width: 70px;
    height: 70px;
    margin-top: auto;
}

.sidebar .logotipo {
    width: 70px;
    height: 70px;
    margin-top: auto;
}

/* Fim da sidebar */

/* Dashboard */

.dashboard {
    margin: 60px 0 0 280px;
    display: flex;
    flex-direction: column;
}

.kpis {
    display: flex;
}

.kpis .kpi1 {
    width: 200px;
    height: 200px;
    background-color: gray;
    margin-right: 60px;
}

.kpis .kpi2 {
    width: 200px;
    height: 200px;
    background-color: gray;
    margin-right: 60px;
}

.kpis .kpi3 {
    width: 200px;
    height: 200px;
    background-color: gray;
    margin-right: 60px;
}

.kpis .kpi4 {
    width: 350px;
    height: 200px;
    background-color: gray;
}

.graficos {
    display: flex;
    margin-top: 100px;
}

.graficos .grafico1 {
    width: 550px;
    height: 400px;
    background-color: gray;
    margin-right: 30px;
}

.graficos .grafico2 {
    width: 550px;
    height: 400px;
    background-color: gray;
}

/* Dashboard */

